body {
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

form {
    margin: 20px 0;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background: #00e676;
    border: none;
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card h3 {
    color: #aaa;
}

.card p {
    font-size: 24px;
    color: #00e676;
}

.chart-box {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    margin-top: 40px;
}

.channel-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.channel-logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #00e676;
}

.channel-info h2 {
    margin: 0;
    color: #ffffff;
}

.channel-info p {
    margin: 5px 0 0;
    color: #bbbbbb;
    font-size: 14px;
}

